<% second_data.forEach(function(data) { %>
    <div class="second_bottom_text">
        <div class='second_img'><img src="<%= data.image_path %>"></div>
        <h2><%= data.title%></h2>
        <p><%= data.text%></p>
    </div>
<% }) %>
